table{
	margin-top: 30px;
	text-align: center;
	background-color: rgb(70, 199, 156);
	color: rgb(9, 10, 9);
    border-color: rgb(102, 121, 118);
}

#show th, #show td{
	padding: 13px;
}

#btna td input{
	width: 100%;
}